<section>
  <h3 class="widget-title">Sobre o autor</h3>
  <div>
    <p>
      <img class="img_gravatar" src="http://www.gravatar.com/avatar/dea87749ef370cc8222b548426e74bbb" alt="Ruhan Bidart"> <strong>Ruhan Bidart</strong> adora viver com sua família, namorar, viajar, conversar, estudar, estar em contato com a natureza, pensar e, nas horas vagas, gosta de empreender novos projetos, sempre na área de tecnologia! Saiba mais sobre minha <a href="http://www.ruhanbidart.com/about">carreira aqui</a>.
    </p>
  </div>
</section>
